@import url('https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-teal-50: #fdf8f8;
  --color-teal-100: #fbf0f0;
  --color-teal-200: #f5e0e0;
  --color-teal-300: #efd0d0;
  --color-teal-400: #edc2c2;
  --color-teal-500: #edc2c2;
  --color-teal-600: #d8a4a4;
  --color-teal-700: #bd8383;
  --color-teal-800: #a16565;
  --color-teal-900: #874e4e;
  --color-teal-950: #703e3e;
}
